.form {
  display: flex;
  border-top: 2px solid #D3D3D3;
  height: 7vh;
}

.input {
  border: none;
  border-radius: 0;
  padding-left: 5%;
  width: 80%;
  font-size: 1em;
  height: 100%;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}

.sendButton {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #264477;
  display: inline-block;
  border: none;
  width: 20%;
  height: 100%;
}