*{
    margin: 0;
    padding: 0;
    font-family: "montserrat",sans-serif;
  }
.contact-section{
    background: url("https://images.unsplash.com/photo-1516387938699-a93567ec168e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1051&q=80") no-repeat center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    padding: 40px 0;
  }
  .contact-section h1{
    padding-top: 2%;
    text-align: center;
    color: #000;
    font-size: 50px;
    padding-bottom: 2%;
  }
  
  .contact-form{
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
    padding-bottom: 2%;
  }
  
  .contact-form-text{
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    background: #111;
    padding: 20px 40px;
    outline: none;
    color: #ddd;
    transition: 0.5s;
    padding-bottom: 2%;
  }
  .contact-form-text:focus{
    box-shadow: 0 0 10px 4px #34495e;
  }
  textarea.contact-form-text{
    resize: none;
    height: 120px;
  }
  .contact-form-btn{
    float: right;
    border: 0;
    background: #34495e;
    color: #fff;
    padding: 12px 50px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
    padding-bottom: 2%;
  }
  .contact-form-btn:hover{
    background: #2980b9;
  }