@import url(//db.onlinewebfonts.com/c/62b7ed79de33fd64c1c321a150243237?family=Whitney);

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: montserrat;
    background: radial-gradient(#ADD8E6,pink); 
}

nav{
    height:80px;
    width: 100%;
}

label.logo{
    color:#ff523b;
    font-size:40px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    font-family: 'Whitney';
}

nav ul{
    float: right;
    margin-right : 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color:white;
    font-size:20px;
    font-weight: 400;
    padding:7px 13px;
    border-radius: 3px;
    font-family: 'Whitney';
    text-transform: uppercase;
}

nav ul li a:hover{
    transition: .5s;
    text-decoration: none;
    color: white;
}

.checkbtn{
    font-size: 30px;
    color:white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor:pointer;
    display: none;
}

#check{
    display: none;
}

@media (max-width: 952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size:16px;

    }
    @media (max-width: 858px){
        .checkbtn{
            display: block;
        }
        ul{
            position:fixed;
            width: 100%;
            height: 100vh;
            background: #2c3e50;
            top: 80px;
            left: -100%;
            text-align: center;
            transition: all;
        }
        nav ul li{
            display:block;
        }
        nav ul li a{
            font-size: 20px;
            margin: 50px 0;
            line-height: 30px;
        }
        a.hover,a.active{
            background:none;
            color:skyblue;
        }
        #check:checked ~ ul{
            left:0;
        }
    }
}

.content-wrap{
    height: 700px;
}

.text-content{
    padding-left: 5%;
    padding-top: 5%;
}

.text-content h1{
    color: white;
    font-weight: 600;
    font-size: 3vw;
}

.text-content p{
    color: white;
    font-weight: 300;
    font-size: 1.5vw;
}

.btn-1
{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding:8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    font-size: 25px;
}  
.btn-1:hover{
    background:#bd2727 ;
    color: white;
    text-decoration: none;
    font-size: 30px;
}

.para{
     font-size: 30px;
     color: #fff;
     display:flex;
     text-align: center;
     padding-left: 350px;
     padding-top: 20px;
        }
#about{
    font-size: 30px;
    font-family:sans-serif;
    padding-right: 3px;
    background: skyblue;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

footer{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
    background: #111111;
    height:32vh;
    width:100%;
    font-family:"Open Sans";
    padding-top:20px;
    color:#fff;
    position:absolute;
}
.footer-content{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align:center;
}

#social{
    color: white;
}

#social :hover{
    background: #111111;
}

/*.socials{
    list-style:none;
    display: flex;
    align-items: center;
    padding-left:40px;
    font-size: 30px;
    letter-spacing: 30px;
    margin: 1rem 0 3rem 0;
}
*/
.footer-bottom{
    width:100vw;
    padding: 20px;
    font-size:20px;
    word-spacing:2px;
    text-transform: upper;
}
.footer-bottom p{
  text-align: center;
}
.flex-wrapper {
    display: flex;
    max-height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
  }
  
.footer {
    margin-top: auto;
  }

.row{
    padding-top: 5%;
    padding-bottom: 5%;
}

.row .col-6 img{
    width: 30vw;
    height: 25vw;
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.row .content{
    font-weight: 500;
    font-size: 1.5vw;
    text-align: center;
    padding : 5% 5%;
    display: inline-block;
}

.row .content h1{
    font-size: 2vw;
    font-weight: 700;
}
